<h1><%= @list.name %></h1>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td>
          <%= button_to "Show", list_item_path(@list.id, item.id), method: "get"%>
          <%= button_to "Edit", edit_list_item_path(@list.id, item.id), method: "get"%>
          <%= button_to "Delete", list_item_path(@list.id, item.id), method: "delete"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "List Index", lists_path %>
<%= button_to "Edit List", edit_list_path(@list), method: "get" %>
<%= button_to "Delete List", @list, method: "delete" %>

<%= button_to "New Item", new_list_item_path(@list), method: "get" %>
