<%= content_for(:list_name, @list.name) %>
<%= content_for(:new_path, new_list_item_path(@list)) %>

<div id="items">
  <%= render @items %>
</div>
<div class="row pagination-links">
  <%= paginate @items %>
</div>
<!--
<%= button_to "Edit List", edit_list_path(@list), method: "get" %>
<%= button_to "Delete List", @list, method: "delete" %>
-->

<!-- Modal -->
<div class="modal fade" id="create-item-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="create-item-label">Create a new Item</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "items/create_form", locals: {list: @list, item: @item} %>
        <div id='item-errors'></div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
