<% if item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(item.errors.count, "error") %> prohibited this article from being saved.</h2>

  <ul>
    <% item.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- Modified the form url parameter so that it supports POST to different controller -->
<%= form_for item, url: list_items_path(list), html: { method: :post }, remote: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, id: "item-name-input" %>

  <%= form.submit "Create Item" %>
<% end %>
