<!DOCTYPE html>
<html>
<head>
  <title>ReadingListRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>

<!-- <% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
<% end %> -->

<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="<%= root_path%>">Reading List</a>

  <% if content_for? :list_name %>
    <a class="navbar-brand">
      <%= yield(:list_name) %>
      <ul class="item-right">
        <li><%= button_to "Edit List", edit_list_path(@list), method: "get" %></li>
        <li><%= button_to "Delete List", @list, method: "delete" %></li>
      </ul>
    </a>
  <% end %>

  <div class="pull-xs-right">
    <% if content_for? :new_path %>
      <%= link_to raw("<i class=\"fa fa-2x fa-pencil-square-o\" aria-hidden=\"true\"></i>"), yield(:new_path), method: "get" %>
    <% else %>
    <a class="pointer-on-hover">
      <i class="fa fa-2x fa-pencil-square-o" data-toggle="modal" data-target="#myModal"></i>
    </a>
    <% end %>
  </div>

</nav>

<%= yield %>

</body>
</html>
